[project]
name = "blocks"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = [
    "lark-parser>=0.12.0",
]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

